/* Fonts : */
/* 
font-family: 'Abhaya Libre', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Outfit', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', monospace;
*/
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root{
    --black:#101418B2;
    --gold:#FFFCCC;
    --white: #fffffc;
    --golded: #FFCE6D;
    --orange-brown: #A080404D;
}
a{
    text-decoration: none;
}
body{
    background-image: url(pic/giphy.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* *********************** Main (header/home) ************************** */

.main{
    background-image: url(pic/HomeBgImg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* header :  */

.main header{
    padding: 12px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main header nav a{
    color: var(--gold);
    margin: 0 10px;
    font-family:'Roboto', monospace ;
    font-weight: bold;
    font-size: 18px;
}
.main header .booknow{
    color: var(--white);
    display: flex;
    align-items: center;
}
.main header .booknow a{
    font-size: 18px;
    font-weight: bold;
    margin: 0 8px;
}
.main header .booknow img{
    width: 24px;
    height: 16px;
    color: var(--white);
}
.main header .booknow a{
    font-family:'Roboto', monospace ;
    color: var(--white);
}
/* home :  */
.main .home{
    margin-top: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main .home h2{
    text-align: center;
    color: var(--gold);
    font-family: 'Roboto', monospace;
    font-size: 45px;
    font-weight: bold;
}
.main .home p{
    color: var(--white);
    font-family: 'Roboto', monospace;
    font-size: 18px;
    margin-top: 18px;
    font-weight: bold;
}
.onlybutton{
    border: var(--gold) solid 3px ;
    color: var(--gold);
    font-weight: bold;
    font-family: 'Roboto', monospace;
    margin-top: 48px;
    border-radius: 1px;
    padding: 18px 57px;
}
.onlybutton:hover{
    background-color: var(--gold);
    color: #000;
    border-color: var(--gold);
}

/* *********************** About Us ************************** */

.about{
    padding: 40px 160px;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .content h1, .title{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: var(--golded);
    font-weight: bold;
    text-transform: capitalize;
}
.about .content h3, .describ{
    font-weight: bold;
    font-size: 32px;
    color: var(--white);
    margin-top: 16px;
    text-transform: capitalize;
    font-family:'Roboto', monospace ;
}
.about .content p{
    text-transform: capitalize;
    font-family:'Roboto', monospace ;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    color: var(--white);
    margin-top: 24px;
    margin-bottom: 40px;
    width: 570px;
}
.about .pic{
    width: 380px;
    height: 410px;
    background-image: url(/pic/about\ us\ pic.png);
}

/* *********************** Special ************************** */

.special{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 160px;
    background-color: var(--black);
}
.special .cards, .cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.special .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange-brown);
    border: var(--golded) 2px dotted;
}
.card img{
    margin-top: 72px;
    width: 80px;
    height: 80px;
}
.card h5{
    font-size: 24px;
    color: var(--white);
    margin: 16px 0;
    font-family:'Roboto', monospace ;
}
.card p{
    text-align: justify;
    font-size: 16px;
    color: var(--white);
    width: 246px;
    font-family:'Roboto', monospace ;
    margin: 0 48px 104px 48px;
}

/* *********************** Kitchen ************************** */

.kitchen{
    margin: 50px 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.kitchen img{
    width: 348px;
    height: 456px;
    background-size: cover;
    background-position: center;
    border: var(--golded) 2px dotted;
}

/* *********************** Achievement ************************** */
/* { */
.achievement{
    background-color: var(--black);
    padding: 50px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.achievement .achiev{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.achievement .achiev img {
    width: 80px;
    height: 80px;
}
.achievement .achiev .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achievement .achiev .info h2{
    color: var(--golded);
    font-family: 'Roboto', monospace;
    font-size: 48px;
    font-weight: bold;
}
.achievement .achiev .info h4{
    font-family: 'Roboto', monospace;
    color: var(--white);
    font-size: 16px;
}
/* } */
/* *********************** Testimonial ************************** */

.testimonial{
    margin: 50px 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.testimonial .reviews-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}
.testimonial .reviews-cards .review-card{
    height: 200px;
    min-width: 400px;
    background-color: #101418B2;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    margin: 0 8px;
    border: var(--golded) 2px dotted; 
}
.testimonial .reviews-cards .review-card h3{
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: var(--white);
    padding-bottom: 16px;
    font-weight: 900;
}
.testimonial .reviews-cards .review-card p{
    font-family: 'Roboto', monospace;
    color: var(--white);
    padding-top: 8px;
    font-weight: 600;
    text-align: center;
}
.swiper-pagination-bullet{
    background-color: var(--golded);
}


/* *********************** Footer ************************** */

footer{
    padding: 40px 160px;
}
footer .foot{
    display: flex;
    justify-content: space-between;
}
footer .foot p{
    color: var(--white);
    font-family: 'Roboto', monospace;
    font-weight: bold;
    letter-spacing: 1px;
}

/* f-company :  */

footer .foot .fcompany .flogo{
    display: flex;
    align-items: center;
}
footer .foot .fcompany .flogo img{
    width: 56px;
    height: 56px;
    color: var(--golded);
    margin-right: 16px;
}
footer .foot .fcompany .flinks{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 24px;
}
footer .foot .fcompany .flinks a{
    padding: 0;
    color: var(--white);
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    letter-spacing: 1px;
    transition: ease-in-out .2s;
}
footer .foot .fcompany .flinks a:hover,footer .foot .fcompany .flinks a:focus{
    color: var(--gold);         
    letter-spacing: 3px;
}

/* f-contact :  */

footer .foot .fcontact h5{
    margin-bottom: 32px;
}
footer .foot .fcontact > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}
footer .foot .fcontact i{
    color: var(--white);
    margin-right: 16px;
}

/* f-opening :  */

footer .foot .fopening h5{
    margin-bottom: 32px;
}
footer .foot .fopening p{
    margin-bottom: 16px;
}

/* f-letter  :  */

.fletter{
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: center;
    margin-top: 20px;
}
.fletter input{
    margin: 0 12px;
    padding: 8px 16px;
    background-color: var(--orange-brown);
    border: var(--golded) 2px solid;
}
.fletter input::placeholder{
    color: var(--white);
    opacity: .8;
    font-family: 'Roboto', monospace;
    font-weight: 500;
}
.fletter button{
    padding: 8px 16px;
    background-color: var(--orange-brown);
    border: var(--golded) 2px solid;
}
.fletter button span{
    color: var(--white);
    font-weight: 500;
    opacity: .8;
    font-family: 'Roboto', monospace;
    cursor: pointer;
}
/* f-letter  :  */
footer > h5{
    color: var(--white);
    font-family: 'Roboto', monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    opacity: .8;
    letter-spacing: 1px;
}








